@charset "utf-8";
/* CSS Document */

#galeria {
    position:relative;
	width:525px;
    height:200px;
}

#galeria IMG {
	position:absolute;
	top:0px;
	left:0;
	z-index:8;
	opacity:0.0;
	border:3px solid #FFFFFF;
}

#galeria IMG.active {
    z-index:10;
    opacity:1.0;
}

#galeria IMG.last-active {
    z-index:9;
}

#contenido_galeria{
	width:525px;
    height:200px;
	float:left;
}
